body{
	box-sizing: border-box;
	height: 100vh;
	background-image: linear-gradient(#FFFFFF , #FFFFFF, #B7D4FF);
}

section.logo{
	padding-top: 7vh;
}

.login-label{
	margin-bottom: 30px;
}
section.logo img{
		max-width: 35%;
}

.btn{
	width: 100%;
}

.section{
	padding-bottom: 0;
}

.my-regist{
	margin-bottom: 0;
}